<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://unpkg.com/async-oauth-popup@1.0.3/dist/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.7.0/qs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-social-sharing@3.0.0-beta.11/dist/vue-social-sharing.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- /loading bar -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/0.6.1/progressbar.min.js"></script>

    <link href="style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clappr/0.4.0/clappr.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>

  <body>
    <script type="text/x-template" id="vue-slide-template">
      <div>
        <div class="player-container" :id="targetId"></div>
        <slot v-if="innerPlaylist" name="pseudo" :selected="innerPlaylist"></slot>
      </div>
    </script>

    <script>
      Vue.component('vue-slide', {
        template: '#vue-slide-template',

        props: {
          slide: { type: Object, required: true },
          moments: { type: Array, default: () => ([]) },
          useIntersect: { type: Boolean, default: true },
          chosenId: { type: String, default: '' },
          isOpenedMoreInfo: { type: Boolean, default: false },
          selectedPlaylist: { type: Object, default: null },
        },

        data() {
          const vm = this;
          return {
            targetId: `slide-${this.slide.id}${this.chosenId}`,
            isSliderIntersect: false,
            player: null,
            timeIsOver: false,
            innerPlaylist: this.selectedPlaylist,
            loadBar: null,
            events: {
              onReady() {
                if (vm.innerPlaylist.start_offset) {
                  this.seek(vm.innerPlaylist.start_offset);
                  this.core.mediaControl.resetKeepVisible();
                }
              },
              onTimeUpdate(statusObject) {
                if (statusObject.current >= vm.innerPlaylist.end_offset) {
                  const nextMoment = vm.moments[_.findIndex(vm.moments, { id: vm.innerPlaylist.id }) + 1];
                  if (nextMoment) {
                    vm.innerPlaylist =  nextMoment;
                    vm.$emit('update', nextMoment);
                    vm.player.configure({
                      source: vm.innerPlaylist.content.playlist_url,
                    });
                    vm.player.play();
                  }
                  else {
                    vm.player.stop();
                    vm.timeIsOver = true;
                  }
                }
                if (vm.loadBar) {
                  const full = vm.innerPlaylist.end_offset - vm.innerPlaylist.start_offset;
                  const a = (statusObject.current - vm.innerPlaylist.start_offset) / full;
                  vm.loadBar.set(a);
                } 
              },
              onSeek() {
                vm.player.play();
              },
              onError() {
                vm.player.stop();
              },
            },
          };
        },

        watch: {
          innerPlaylist: {
            handler(val) {
              const vm = this;
              if (!val) return;

              this.timeIsOver = false;

              if (!_.isEqual(this.selectedPlaylist, val)) {
                this.$emit('update:selectedPlaylist', _.cloneDeep(val));
              }

              this.player.configure({
                source: val.content.playlist_url,
                poster: val.content.poster.image_url,
                events: vm.events,
              });
              this.player.seek(val.start_offset);
              this.player.play();
              if (this.isOpenedMoreInfo) {
                this.player.pause();
              }
              else {
                this.player.play();
                this.$nextTick(() => {
                if (vm.loadBar) vm.loadBar.destroy();
                if (document.getElementById(`emoji-${val.id}`)) {
                  vm.loadBar = new ProgressBar.Circle(`#emoji-${val.id}`, {
                    strokeWidth: 3,
                    duration: (val.end_offset - val.start_offset) * 1000,
                    color: '#E20338',
                    trailColor: '#fff',
                    trailWidth: 3,
                    svgStyle: null,
                  });
                }
              });
              }
              $(`#${vm.targetId}`).find('video').attr('webkit-playsinline', 'webkit-playsinline');
              $(`#${vm.targetId}`).find('video').attr('playsinline', 'playsinline');
              $(`#${vm.targetId}`).find('video').attr('x-webkit-playsinline', 'x-webkit-playsinline');
              $(`#${vm.targetId}`).find('video')[0] && $(`#${vm.targetId}`).find('video')[0].addEventListener('touchstart', () => {
                vm.player.core.mediaControl.hide();
              });

              console.log('innerPlaylist', this.targetId);
              
            }
          },

          slide: {
            deep: true,
            handler(value) {
              if (this.timeIsOver || !this.useIntersect) return;

              if (value['$isIntersecting']) {
                this.player.play();
              }
              else {
                this.player.pause();
              }
            }
          },

          isOpenedMoreInfo(value) {
            if (this.timeIsOver) return;
            if (value) {
              this.player.pause();
            }
            else {
              this.player.play();
            }
          },

          selectedPlaylist: {
            deep: true,
            handler(val) {
              if (_.isEqual(val, this.innerPlaylist)) return;
              this.timeIsOver = false;
              this.innerPlaylist = _.cloneDeep(val);
            },
          },
        },

        mounted() {
          const vm = this;
          var playerElement = document.getElementById(this.targetId);

          this.innerPlaylist = _.cloneDeep(this.selectedPlaylist) || _.head(this.moments);

          vm.player = new Clappr.Player({
            language: 'ru',
            source: this.innerPlaylist.content.playlist_url,
            poster: this.innerPlaylist.content.poster.image_url,
            mute: true,
            width: '100%',
            height: '100%',
            chromeless: true,
            playInline: true,
            strings: {
              ru: {
                playback_not_supported: 'Приносим свои извинения, данное видео сейчас недоступно, попробуйте позднее',
              },
            },
            events: vm.events,
          });

          vm.player.attachTo(playerElement);

          if (!this.useIntersect) {
            vm.player.play();
          }

          
          $(`#${vm.targetId}`).find('video').attr('webkit-playsinline', 'webkit-playsinline');
          $(`#${vm.targetId}`).find('video').attr('playsinline', 'playsinline');
          $(`#${vm.targetId}`).find('video').attr('x-webkit-playsinline', 'x-webkit-playsinline');
          $(`#${vm.targetId}`).find('video')[0] && $(`#${vm.targetId}`).find('video')[0].addEventListener('touchstart', () => {
            vm.player.core.mediaControl.hide();
          });
          
          window.player = vm.player;
          console.log('mount', this.targetId);
        },

        async beforeDestroy() {
          if (this.player) {
            await this.player.destroy();
            this.player = null;
          }
        }
      })
    </script>

    <div id="app">
      <div id="header" class="header">
        <div class="container player-header">
          <img class="icon" src="img/icon.svg" alt="">
          <h1 class="title">Как быстро <br> выбрать кино?</h1>
          <p class="description">Что посмотреть, когда ищешь новое или не можешь <br> вспомнить тот самый фильм</p>
        </div>
      </div>
  
      <div class="information">
        <div class="container">
          <h3>Хотите разгрузить голову, найти<br>
            правильный хоррор, чтобы прижаться<br>
            подближе друг к другу на свидании?
          </h3>
  
          <div class="information-actions">
            <span class="information-actions__item">Изучать историю</span>
            <span class="information-actions__item">Вдохновиться классикой</span>
            <span class="information-actions__item">Скоротать время</span>
          </div>
        </div>
      </div>

      <div class="moments-container">
        <div class="container">
          <h2 name="slider-title">Выбирайте <br> через моменты</h2>
          <p class="moments-container__description">Колдовство, классика жанра, российские премьеры — мы собрали <br>
            все для того, чтобы вы быстрее нашли правильное кино
          </p>

          <div name="slider" class="slider">
            <div v-if="selectedMoment" class="choosen-moment">
              <div class="actions-container">
                <div v-for="moment in _.take(collections, 4)" class="choosen-moment__actions" :key="moment.id" >
                  <div @click="getChannel(moment)" class="button" :class="{'active': selectedMoment.id === moment.id}" :style="{ 'background-color': moment.color}">
                    {{ moment.title }}
                  </div>
                </div>
                <div class="choosen-moment__actions">
                  <div @click="isOpenedMenu = true" class="button button-red">
                    Показать все +
                  </div>
                </div>
              </div>

              <div class="choosen-moment__item--container">
                <vue-slide
                  :chosen-id="selectedMoment.id"
                  class="chosen-moment"
                  :moments="fullMoments"
                  :slide="selectedMoment"
                  :use-intersect="false"
                  :is-opened-more-info="isOpenedMoreInfo"
                  :selected-playlist.sync="selectedPlaylist"
                  @update="setMoment"
                  >
                  <template v-slot:pseudo="{ selected }">
                    <div v-if="isOpenedMoreInfo" class="slider-item-banner__contaier">
                      <div class="slider-item-banner">
                        <div class="item-banner__image-container">
                          <img :src="selected.content.poster.image_url" alt="" class="banner">
                        </div>
                        <div class="item-banner__info">
                          <h3 class="banner-title">
                            {{ selected.content.title }}
                          </h3>
                          <div class="banner-description">
                            Вы можете продолжить смотреть этот фильм на Vip Play
                          </div>
                          <div class="banner-actions">
                            <a :href="`https://vipplay.ru/filmy/${selected.content.slug}`" class="button button-outline-red">Перейти к просмотру</a>
                            <div @click="isOpenedMoreInfo = false" class="button button-red">Вернуться к моментам</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div v-else class="chosen-more-info">
                      <div class="chosen-container">
                        <div class="chosen-moment__title">
                          {{ selected.content.title }}
                        </div>
  
                        <div class="chosen-moment__emoji">
                          <div
                            class="emoji-item"
                            :class="{ 'emoji-item__selected': emojiItem.id === selected.id }"
                            v-for="(emojiItem, idxE) in selectedMoment.moments"
                            :key="idxE"
                            >
                            <div class="emoji-container" :id="`emoji-${emojiItem.id}`" @click="selectedPlaylist = emojiItem">
                              <span class="emoji" style="position: absolute;" >{{ emojiItem.emoji }}</span>
                            </div>
                          </div>
                        </div>
  
                        <div class="chosen-moment__continue">
                          <div @click="isOpenedMoreInfo = true" class="button button-outline button-continue">Продолжить</div>
                        </div>
                      </div>
                    </div>
                  </template>
                </vue-slide>

                <div class="pagination-moments">
                  <div>
                    <img
                      v-if="(fullMoments && selectedPlaylist) && _.head(fullMoments).id !== selectedPlaylist.id"
                      class="pagination-left" src="img/arrow.svg" alt=""
                      @click="getPrev()"
                      >
                  </div>

                  <div>
                    <img
                      v-if="(fullMoments && selectedPlaylist) && _.last(fullMoments).id !== selectedPlaylist.id"
                      class="pagination-right" src="img/arrow.svg" alt=""
                      @click="getNext()"
                      >
                  </div>
                </div>
              </div>
            </div>

            <div v-else>
              <div v-if="_.size(collections)" class="swiper-container">
                <div class="swiper-wrapper">
                  <div v-for="slide in collections" :key="slide.id" class="swiper-slide slider-item" v-if="_.size(slide.moments)">
                    <vue-slide
                      :slide="slide"
                      :moments="slide.moments"
                      >
                      <template v-slot:pseudo="{ selected }">
                        <div class="swiper-slide-pseudo" @click="getChannel(slide)">
                          <div class="slider-item--more-content">
                            <img src="img/more-content.png" alt="">
                          </div>
      
                          <div class="slider-item--info">
                            <span class="moment-name">{{ slide.title }}</span>
                            <p class="content-name">{{ selected.title }}</p>
                          </div>
                        </div>
                      </template>
                    </vue-slide>
                  </div>
                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>  

          </div>

          <h2>Почему так проще <br> выбрать кино</h2>

          <div class="about">
            <div class="about-item">
              <img class="eyes" src="img/eyes.svg" alt="">
              <p class="about-item__title">Опирайтесь на свои эмоции</p>
              <div class="about-item__description">
                Часто рейтинги и чужие мнения не дают представления о фильме, а наоборот искажают ожидания.
                Поэтому доверяйте только своему мнению, выбрайте кино по ярким моментам фильма, опираясь на эмоциями
              </div>
            </div>

            <div class="about-item">
              <img class="lightning" src="img/lightning.svg" alt="">
              <p class="about-item__title">Опирайтесь на свои эмоции</p>
              <div class="about-item__description">
                Часто рейтинги и чужие мнения не дают представления о фильме, а наоборот искажают ожидания.
                Поэтому доверяйте только своему мнению, выбрайте кино по ярким моментам фильма, опираясь на эмоциями
              </div>
            </div>

            <div class="about-item">
              <img class="heart" src="img/heart.png" alt="">
              <p class="about-item__title">Опирайтесь на свои эмоции</p>
              <div class="about-item__description">
                Часто рейтинги и чужие мнения не дают представления о фильме, а наоборот искажают ожидания.
                Поэтому доверяйте только своему мнению, выбрайте кино по ярким моментам фильма, опираясь на эмоциями
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom">
        <div class="container">
          <h2>Выбирайте кино <br> прямо сейчас</h2>
          <p class="bottom-description">Вспоминайте любимое и открывайте новое — <br> подберите кино для настроения</p>
          <div class="button-container">
            <div @click="scrollToSlider" class="button button-outline-light">Попробовать</div>
          </div>
          <div class="socials">
            <div class="social-item-name">Поделиться:</div> 
            <share-network
              class="social-item"
              network="facebook"
              :url="location"
              title="Моменты ViP Play"
              >
              Фейсбук
            </share-network>
            <share-network
              class="social-item"
              network="vk"
              :url="location"
              title="Моменты ViP Play"
              >
              Вконтакте
            </share-network>
          </div>
        </div>
        <img class="footer-image" src="img/footer-image.svg" alt="">
      </div>

      <div v-if="isOpenedMenu" class="menu-container">
        <div class="menu-close">
          <div @click="isOpenedMenu = false" class="close-icon"></div>  
        </div>
        <div class="menu-list">
          <div
            v-for="item in collections"
            :key="item.id"
            class="menu-item"
            >
            <div class="menu-item__moment">{{ item.title }}</div>
            <div class="menu-item__films">
              <template v-if="_.size(item.moments)">
                <div
                  v-for="film in item.moments"
                  :key="film.id"
                  class="films-item"
                  >
                  <h2 @click="setMoment(film, item); isOpenedMenu = false;">{{ film.title }}</h2>
                </div>
              </template>

              <template v-else>
                <p>Нет данных</p>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // регистрирую специальный инстанс аксиоса
      Vue.mixin({
        computed: {
          $axios: () => axios.create({
            baseURL: 'https://api-staging.viasat.su/api',
          }),
        }
      });

      Vue.component('share-network', Vue.extend(VueSocialSharing.ShareNetwork));

      var $vue = new Vue({
        el: "#app",
        data() {
          return {
            isOpenedMenu: false,
            isSliderIntersect: false,
            player: null,
            selectedMoment: null, // Конкретный момент (содержит коллекцию фильмов)
            collections: [],
            isOpenedMoreInfo: false,
            selectedPlaylist: null, // Конктерный фильм
            location: window.location.href,
          };
        },

        computed: {
          fullMoments() {
            if (!_.size(this.collections) || !this.selectedPlaylist) return;
            return _.flatten(_.map(this.collections, (o, idx) => _.map(o.moments, m => { return { $idx: idx, ...m } })));
          },
        },

        methods: {
          updateContent(moment) {
            this[moment.type] = moment.content;
          },
          setMoment(playlist, moment) {
            this.selectedPlaylist = playlist;
            this.selectedMoment = moment || this.collections[playlist.$idx];
          },
          getChannel(channel) {
            this.selectedMoment = channel;
            this.selectedPlaylist = _.head(channel.moments);
          },
          getPrev() {
            const selectedPlaylist = this.fullMoments[ _.findIndex(this.fullMoments, { id: this.selectedPlaylist.id }) - 1 ];

            if (!selectedPlaylist) return;

            this.selectedPlaylist = selectedPlaylist;
            this.selectedMoment = this.collections[selectedPlaylist.$idx];
          },
          getNext() {
            const selectedPlaylist = this.fullMoments[ _.findIndex(this.fullMoments, { id: this.selectedPlaylist.id }) + 1 ];

            if (!selectedPlaylist) return;

            this.selectedPlaylist = selectedPlaylist;
            this.selectedMoment = this.collections[selectedPlaylist.$idx];
          },
          scrollToSlider() {
            const offset = _.get(document.getElementsByName('slider-title')[0], 'offsetTop');
            if (!offset) return;

            window.scrollTo({
              top: offset + 150, // Убираю offset от padding
              behavior: "smooth",
            });
          },
        },

        async mounted() {
          const vm = this;
          try {
            const { data: collections } = await this.$axios.get('/v1/moment_collections?include=moments');
            this.collections = collections;
            this.selectedPlaylist = _.head(_.head(this.collections).moments);
          }
          catch (err) {
            console.error(err);
          }

          this.$nextTick(() => {
            const swiper = new Swiper('.swiper-container', {
              slidesPerView: 2,
              spaceBetween: 30,
              slidesOffsetAfter: 20,
              freeModeSticky: true,
              pagination: {
                el: '.swiper-pagination',
                clickable: true,
              },
              breakpoints: {
                0: {
                  slidesPerView: 'auto',
                  spaceBetween: 10,
                },
                400: {
                  slidesPerView: 'auto',
                  spaceBetween: 10,
                },
                768: {
                  slidesPerView: 2,
                },
              },
            });

            const callback = function(entries, observer) {
              entries.forEach(entry => {
                const idx = _.findIndex(vm.collections, { id: _.replace(entry.target.id, 'slide-', '') });
                vm.$set(vm.collections[idx], '$isIntersecting', entry.isIntersecting);
              });
            };

            const observer = new IntersectionObserver(callback, options);
            for ( let i = 0; i < this.collections.length; i++) {
              if (_.size(vm.collections[i].moments)) {
                var options = {
                  rootMargin: '0px',
                  threshold: 1.0,
                  id: vm.collections[i].id,
                };
                observer.observe(document.querySelector(`#slide-${vm.collections[i].id}`));
              }
            }
          });

          const playerElement = document.getElementById('header');
          
          vm.player = new Clappr.Player({
            language: 'ru',
            source: './src/header-video.mp4',
            poster: './img/header-banner.png',
            mute: true,
            width: '100%',
            height: '100%',
            chromeless: true,
            loop: true,
            autoPlay: true,
            mimetype: 'application/x-mpegURL',
            playInline: true,
            strings: {
              ru: {
                playback_not_supported: 'Приносим свои извинения, данное видео сейчас недоступно, попробуйте позднее',
              },
            },
            events: {
              onReady() {
                this.play();
              },
              onError() {
                vm.player.stop();
              },
            }
          });

          vm.player.attachTo(playerElement);
          
          vm.player.play();
        }
      });
    </script>
  </body>
</html>