<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://unpkg.com/async-oauth-popup@1.0.3/dist/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.7.0/qs.min.js"></script>

    <link href="style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clappr/0.4.0/clappr.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>

  <body>
    <script type="text/x-template" id="vue-slide-template">
      <div>
        <div class="player-container" :id="targetId" style="background: red;"></div>
        <slot name="pseudo" :selected="selectedPlaylist"></slot>
      </div>
    </script>

    <script>
      Vue.component('vue-slide', {
        template: '#vue-slide-template',

        props: {
          slide: { type: Object, required: true },
          moments: { type: Array, default: () => ([]) },
          useIntersect: { type: Boolean, default: true },
          chosenId: { type: String, default: '' },
          isOpenedMoreInfo: { type: Boolean, default: false },
          selectedPlaylist: { type: Object, default: () => ({}) },
        },

        data() {
          return {
            targetId: `slide-${this.slide.id}${this.chosenId}`,
            isSliderIntersect: false,
            player: null,
            timeIsOver: false,
          };
        },

        watch: {
          slide: {
            deep: true,
            handler(value) {
              if (this.timeIsOver || !this.useIntersect) return;

              if (value['$isIntersecting']) {
                this.player.play();
              }
              else {
                this.player.pause();
              }
            }
          },

          isOpenedMoreInfo(value) {
            if (value) {
              this.player.pause();
            }
            else {
              this.player.play();
            }
          },

          selectedPlaylist: {
            deep: true,
            handler(val) {
              if (!val) return;

              this.player.source = this.selectedPlaylist.content.playlist_url;
              this.player.poster = this.selectedPlaylist.content.poster.image_url;
              this.player.seek(this.selectedPlaylist.start_offset);
              //this.player.options.events.onTimeUpdate({ current: this.selectedPlaylist.start_offset });
              this.player.play();
            },
          },
        },

        mounted() {
          const vm = this;
          var playerElement = document.getElementById(this.targetId);

          vm.player = new Clappr.Player({
            source: this.selectedPlaylist.content.playlist_url,
            poster: this.selectedPlaylist.content.poster.image_url,
            mute: true,
            width: '100%',
            height: '100%',
            chromeless: true,
            events: {
              onReady() {
                if (vm.selectedPlaylist.start_offset) {
                  this.seek(vm.selectedPlaylist.start_offset);
                }
              },
              onTimeUpdate(statusObject) {
                if (statusObject.current >= vm.selectedPlaylist.end_offset) {
                  const nextMoment = vm.moments[_.findIndex(vm.moments, { id: vm.selectedPlaylist.id }) + 1];
                  if (nextMoment) {
                    vm.$emit('update:selectedPlaylist', nextMoment);
                    vm.player.configure({
                      source: vm.selectedPlaylist.content.playlist_url,
                    });
                    vm.player.play();
                  }
                  else {
                    vm.player.stop();
                    vm.timeIsOver = true;
                  }
                }
              }
            }
          });

          vm.player.attachTo(playerElement);

          if (!this.useIntersect) {
            vm.player.play();
          }
        },

        async beforeDestroy() {
          if (this.player) {
            await this.player.destroy();
            this.player = null;
          }
        }
      })
    </script>

    <div id="app">
      <div class="header">
        <div class="container">
          <img class="icon" src="img/icon.svg" alt="">
          <h1 class="title">Как быстро <br> выбрать кино?</h1>
          <p class="description">Что посмотреть, когда ищешь новое или не можешь <br> вспомнить тот самый фильм</p>
        </div>
      </div>
  
      <div class="information">
        <div class="container">
          <h3>Хотите разгрузить голову, найти<br>
            правильный хоррор, чтобы прижаться<br>
            подближе друг к другу на свидании?
          </h3>
  
          <div class="information-actions">
            <span class="information-actions__item">Изучать историю</span>
            <span class="information-actions__item">Вдохновиться классикой</span>
            <span class="information-actions__item">Скоротать время</span>
          </div>
        </div>
      </div>

      <div class="moments-container">
        <div class="container">
          <h2>Выбирайте <br> через моменты</h2>
          <p class="moments-container__description">Колдовство, классика жанра, российские премьеры — мы собрали <br>
            все для того, чтобы вы быстрее нашли правильное кино
          </p>

          <div class="slider">
            <div v-if="selectedMoment" class="choosen-moment">
              <div class="choosen-moment__actions">
                <div class="button button-outline">
                  Сцены с поцелуями
                </div>
                <div class="button button-outline">
                  Сцены с поцелуями
                </div>
                <div class="button button-outline">
                  Сцены с поцелуями
                </div>
                <div class="button button-outline">
                  Сцены с поцелуями
                </div>
                <div @click="isOpenedMenu = true" class="button button-red">
                  Показать все +
                </div>
              </div>
              <div class="choosen-moment__item--container">
                <vue-slide
                  :chosen-id="selectedMoment.id"
                  class="chosen-moment"
                  :moments="selectedMoment.moments"
                  :slide="selectedMoment"
                  :use-intersect="false"
                  :is-opened-more-info="isOpenedMoreInfo"
                  :selected-playlist.sync="selectedPlaylist"
                  >
                  <template v-slot:pseudo="{ selected }">
                    <div v-if="isOpenedMoreInfo" class="slider-item-banner__contaier">
                      <div class="slider-item-banner">
                        <div class="item-banner__image-container">
                          <img :src="selected.content.poster.image_url" alt="" class="banner">
                        </div>
                        <div class="item-banner__info">
                          <h3 class="banner-title">
                            {{ selected.content.title }}
                          </h3>
                          <div class="banner-description">
                            Вы можете продолжить смотреть этот фильм на Vip Play
                          </div>
                          <div class="banner-actions">
                            <div class="button button-outline-red">Перейти к просмотру</div>
                            <div @click="isOpenedMoreInfo = false" class="button button-red">Вернуться к моментам</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div v-else class="chosen-more-info">
                      <div class="chosen-moment__title">
                        {{ selected.title }}
                      </div>

                      <div class="chosen-moment__emoji">
                        <div
                          class="emoji-item"
                          :class="{ 'emoji-item__selected': emojiItem.id === selected.id }"
                          v-for="(emojiItem, idxE) in selectedMoment.moments"
                          :key="idxE"
                          >
                          <div @click="selectedPlaylist = emojiItem" class="emoji">
                            {{ emojiItem.emoji }}
                          </div>
                        </div>
                      </div>

                      <div class="chosen-moment__continue">
                        <div @click="isOpenedMoreInfo = true" class="button">Продолжить</div>
                      </div>
                    </div>
                  </template>
                </vue-slide>
              </div>
            </div>

            <template v-else>
              <div v-if="_.size(collections)" class="swiper-container">
                <div class="swiper-wrapper">
                  <div v-for="slide in collections" :key="slide.id" class="swiper-slide slider-item">
                    <vue-slide
                      :slide="slide"
                      :moments="slide.moments"
                      :selected-playlist.sync="selectedPlaylist"
                      >
                      <template v-slot:pseudo="{ selected }">
                        <div class="swiper-slide-pseudo" @click="selectedMoment = slide">
                          <div class="slider-item--more-content">
                            <img src="img/more-content.png" alt="">
                          </div>
      
                          <div class="slider-item--info">
                            <span class="moment-name">{{ slide.title }}</span>
                            <p class="content-name">{{ selected.title }}</p>
                          </div>
                        </div>
                      </template>
                    </vue-slide>
                  </div>
                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </template>  
            
          </div>

          <h2>Почему так проще <br> выбрать кино</h2>

          <div class="about">
            <div class="about-item">
              <img class="eyes" src="img/eyes.png" alt="">
              <p class="about-item__title">Опирайтесь на свои эмоции</p>
              <div class="about-item__description">
                Часто рейтинги и чужие мнения не дают представления о фильме, а наоборот искажают ожидания.
                Поэтому доверяйте только своему мнению, выбрайте кино по ярким моментам фильма, опираясь на эмоциями
              </div>
            </div>

            <div class="about-item">
              <img class="lightning" src="img/lightning.png" alt="">
              <p class="about-item__title">Опирайтесь на свои эмоции</p>
              <div class="about-item__description">
                Часто рейтинги и чужие мнения не дают представления о фильме, а наоборот искажают ожидания.
                Поэтому доверяйте только своему мнению, выбрайте кино по ярким моментам фильма, опираясь на эмоциями
              </div>
            </div>

            <div class="about-item">
              <img class="heart" src="img/heart.png" alt="">
              <p class="about-item__title">Опирайтесь на свои эмоции</p>
              <div class="about-item__description">
                Часто рейтинги и чужие мнения не дают представления о фильме, а наоборот искажают ожидания.
                Поэтому доверяйте только своему мнению, выбрайте кино по ярким моментам фильма, опираясь на эмоциями
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom">
        <div class="container">
          <h2>Выбирайте кино <br> прямо сейчас</h2>
          <p class="bottom-description">Вспоминайте любимое и открывайте новое — <br> подберите кино для настроения</p>
          <div class="button-container">
            <div class="button button-outline-light">Попробовать</div>
          </div>
          <div class="socials">Поделиться: инстаграме, фейсбуке, вконтакте</div>
        </div>
      </div>

      <div v-if="isOpenedMenu" class="menu-container">
        <div class="menu-close">
          <div @click="isOpenedMenu = false" class="close-icon"></div>  
        </div>
        <div class="menu-list">
          <div
            v-for="item in menuList"
            :key="item.id"
            class="menu-item"
            >
            <div class="menu-item__moment">{{ item.name }}</div>
            <div class="menu-item__films">
              <div
                v-for="film in item.films"
                :key="film.id"
                class="films-item"
                >
                <h2>{{ film.name }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // регистрирую специальный инстанс аксиоса
      Vue.mixin({
        computed: {
          $axios: () => axios.create({
            baseURL: 'https://api-staging.viasat.su/api',
          }),
        }
      });

      var $vue = new Vue({
        el: "#app",
        data() {
          return {
            moments: [{
              id: 1,
              name: 'Амели',
              year: '2001',
              description: 'Вы можете продолжить смотреть этот фильм на Vip Play'
            }],
            choosenMoments: [{
              id: 1,
              name: 'Какой-то выбранный момент',
            }],
            isOpenedMenu: false,
            menuList: [
              {
                id: 1,
                name: 'Сцены с поцелуями',
                films: [
                  {
                    id: 1,
                    name: 'Амели',
                    year: '2001',
                    description: 'Вы можете продолжить смотреть этот фильм на Vip Play',
                  },
                  {
                    id: 2,
                    name: 'Колдуй с Гарри Поттером',
                    year: '2001',
                    description: 'Вы можете продолжить смотреть этот фильм на Vip Play',
                  },
                  {
                    id: 3,
                    name: 'Сцены с драками',
                    year: '2001',
                    description: 'Вы можете продолжить смотреть этот фильм на Vip Play',
                  },
                ],
              },
              {
                id: 2,
                name: 'Сцены с поцелуями',
                films: [
                  {
                    id: 1,
                    name: 'Амели',
                    year: '2001',
                    description: 'Вы можете продолжить смотреть этот фильм на Vip Play',
                  },
                ],
              },
              {
                id: 3,
                name: 'Сцены с поцелуями',
                films: [
                  {
                    id: 1,
                    name: 'Амели',
                    year: '2001',
                    description: 'Вы можете продолжить смотреть этот фильм на Vip Play',
                  },
                ],
              },
            ],
            isSliderIntersect: false,
            player: null,
            selectedMoment: null, // Конкретный момент (содержит коллекцию фильмов)
            collections: [],
            isOpenedMoreInfo: false,
            selectedPlaylist: null, // Конктерный фильм
          };
        },

        watch: {
          selectedMoment: {
            handler(val) {
              if (!val) return;
              this.selectedPlaylist = _.head(val.moments);
            },
            deep: true,
          },
        },

        async mounted() {
          const vm = this;
          try {
            const { data: collections } = await this.$axios.get('/v1/moment_collections?include=moments');
            this.collections = collections;
            this.selectedPlaylist = _.head(_.head(this.collections).moments);
          }
          catch (err) {
            console.error(err);
          }

          this.$nextTick(() => {
            const swiper = new Swiper('.swiper-container', {
              slidesPerView: 2,
              spaceBetween: 30,
              slidesOffsetAfter: 20,
              pagination: {
                el: '.swiper-pagination',
                clickable: true,
              },
            });

            const callback = function(entries, observer) {
              entries.forEach(entry => {
                const idx = _.findIndex(vm.collections, { id: _.replace(entry.target.id, 'slide-', '') });
                vm.$set(vm.collections[idx], '$isIntersecting', entry.isIntersecting);
              });
            };

            const observer = new IntersectionObserver(callback, options);
            for ( let i = 0; i < this.collections.length; i++) {
              var options = {
                rootMargin: '0px',
                threshold: 1.0,
                id: vm.collections[i].id,
              };
              observer.observe(document.querySelector(`#slide-${vm.collections[i].id}`));
            }
          });
        }
      });
    </script>    
  </body>
</html>