@font-face {
  font-family: 'Lato';
  src: url('font/Lato.ttf');
}

body {
  margin: 0;
  color: #FFFFFF;
  font-family: 'Lato';
  letter-spacing: 0.02em;
}

body::-webkit-scrollbar {
  width: 0px;
}

body .container {
  margin: 0 auto;
  max-width: 1280px;
}

h1, h2, h3 {
  font-family: 'Raleway';
  font-style: normal;
  text-align: center;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 72px;
}

h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 55px;
}

h3 {
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
}

p, span {
  font-family: 'Lato';
}

h1.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

p {
  font-size: 18px;
  font-size: 18px;
  line-height: 26px;
}

.button {
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  border-color: transparent;
  text-decoration: none;
}

.button-outline {
  border-color: #FFFFFF;
  font-weight: 600;
}
.button-outline:hover {
  border-color: transparent;
  background-color: #FFFFFF;
  color: #E20338;
}

.button-outline-light:hover {
  background-color: #FFFFFF;
  color: #E20338;
  font-weight: 600;
}

.header .description {
  text-align: center;
  margin-top: 24px;
}

.header {
  background-image: url('img/header-banner.png');
  background-position: center center;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 1024px;
}

.icon {
  margin-top: 56px;
  height: 20px;
  width: 100%;
}

.container {
  padding: 0 120px;
}

.information {
  background-color: #231F20;
  padding: 200px 0;
}

.information-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.information-actions__item {
  padding: 0 10px;
  padding-top: 50px;
  opacity: 0.4;
}


/* MOMENTS */
.moments-container {
  background-color: #030001;
  padding-bottom: 150px;
}

.moments-container h2 {
  padding-top: 150px;
}

.moments-container__description {
  padding-top: 20px;
  text-align: center;
  opacity: 0.7;
}

.moments-container .slider {
  padding-top: 80px;
}

.slider .item {
  height: 314px;
  width: 560px;
  max-width: 100%;
  background-image: url('img/slider-item.png');
  border-radius: 6px;
}

.moments-container .about {
  display: flex;
  align-items: center;
  margin: 0 -45px;
  margin-top: 100px;
}

.moments-container .about-item {
  padding: 0 45px;
}

.moments-container .about-item .eyes {
  margin-top: 30px;
  height: 60px;
  width: 82px;
}

.moments-container .lightning {
  height: 90px;
  width: 65px;
}

.moments-container .heart {
  margin-top: 10px;
  height: 80px;
  width: 93px;
}

.moments-container .about-item__title {
  font-size: 24px;
  line-height: 32px;
  margin-top: 20px;
}

.moments-container .about-item__description {
  padding-top: 16px;
  color: #A5A4AA;
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
}

.choosen-moment__actions .button {
  margin: 8px;
}

.choosen-moment__item {
  position: absolute;
  width: 100%;
  top: 0;
}

.choosen-moment__item img {
  width: 100%;
  object-fit: contain;
}

.chosen-moment__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  flex: 1;
}

.choosen-moment__item--container {
  margin-top: 15px;
  position: relative;
}

.pagination-moments {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  align-items: center;
}

.pagination-left, .pagination-right {
  padding: 30px;
  cursor: pointer;
}

.pagination-left {
  transform: rotate(180deg);
  
}
.pagination-right {
}

/* < BANNER > */

.slider-item {
  cursor: pointer;
}

.item-banner__image-container {
  width: 277px;
  object-fit: contain;
}
.item-banner__image-container img {
  max-width: 100%;
}

.slider-item-banner__contaier {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .8);
  z-index: 88;
}

.slider-item-banner {
  display: flex;
  align-items: center;
}

.item-banner__info {
  margin-left: 40px;
}

.banner-title {
  text-align: start;
}

.banner-description {
  font-size: 18px;
  margin-top: 14px;
}

.banner-actions {
  margin-top: 40px;
}

.banner-actions .button-red {
  margin-left: 20px;
}

/* </ BANNER > */


/* BOTTOM */

.bottom {
  background-color: #E20338;
}

.button-outline-red {
  background-color: transparent;
  border-color: #E20338;
  color: #E20338;
}

.button-red {
  background-color: #E20338;
  border-color: #E20338;
  color: #FFFFFF;
}

.bottom h2 {
  padding-top: 200px;
}

.bottom-description {
  text-align: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom .button {
  font-family: 'Raleway';
  margin-top: 74px;
  display: inline-block;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px 42px;
}

.socials {
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
  font-weight: 500;
  text-align: center;
  margin-top: 167px;
  padding-bottom: 96px;
}


/* < MENU > */

.menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #231F20;
  z-index: 99;
}

.menu-close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.menu-close:hover {
  color: #E20338;
}

.menu-close img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url('img/close-menu.svg');
}
.close-icon:hover {
  background-image: url('img/close-menu-hover.svg');
}

.menu-list {
  margin-top: 120px;
  margin-left: 120px;
}

.menu-item__moment {
  font-size: 14px;
  color: rgba(255, 255, 255, .7);
  margin-top: 40px;
}


.menu-item__films {
  display: flex;
  flex-direction: column;
}

.films-item h2 {
  font-family: 'Lato';
  letter-spacing: 0.05em;
  text-align: left;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
}



.films-item h2:hover {
  color: #E20338;
}

/* </ MENU > */


/* < SLIDER > */

  .swiper-container {
    max-height: 320px;
    background-color: #030001;
  }

  .swiper-slide.slider-item {
    position: relative;
    height: 320px;
    width: 560px;
    border-radius: 6px;
    overflow: hidden;
  }

  .swiper-slide-pseudo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .2) 40%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  .swiper-slide-pseudo:hover {
    cursor: pointer;
    background-color: #E20338;
    opacity: .5;
  }

  .slider-item--more-content {
    display: flex;
    justify-content: flex-end;
  }

  .slider-item--more-content img {
    width: 24px;
    height: 24px;
    z-index: 3;
  }
  
  .slider-item--info .moment-name {
    opacity: .7;
    font-size: 12px;
  }

  .slider-item--info .content-name {
    margin-top: 8px;
    font-size: 22px;
    font-weight: 600;
  }

  .player-container {
    height: 100%;
    width: 100%;
  }
/* </ SLIDER > */


/* < PSEUDO SLIDER > */
  .chosen-more-info {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, .3);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chosen-moment {
    position: relative;
    height: 646px;
  }

  .chosen-moment__emoji {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .emoji-item {
    position: relative;
    font-size: 24px;
    padding: 15px;
    background: rgba(233, 233, 241, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 50%;
    overflow: hidden;
    min-width: 45px;
    min-height: 45px;
    margin: 0 8px;
  }
  .emoji-item:hover {
    background: rgba(233, 233, 241, 0.5);
  }
  .emoji-item:after {
    content: "";
    display: block;
    padding-bottom: 50%;
  }

  .emoji {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .emoji-item__selected {
    font-size: 34px;
    min-width: 65;
    min-height: 65px;
  }
/* </ PSEUDO SLIDER > */


/* < SOCIALS > */

.socials {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}

.social-item {
  cursor: pointer;
  padding: 10px;
}

/* </ SOCIALS > */


/* < MEDIA > */

@media (max-width: 998px) {
  .container {
    padding: 0 60px;
  }

  .moments-container .about {
    margin: 0;
  }

  .chosen-moment {
    position: relative;
    height: 500px;
  }

  .title {
    font-size: 64px;
  }
  .description {
    font-size: 18px;
  }

  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 28px;
  }

  .information br {
    display: none;
  }

  .information-actions__item {
    font-size: 12px;
  }
  .moments-container__description {
    font-size: 18px;
  }

  .content-name {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .chosen-moment__title {
    font-size: 14px;
    line-height: 18px;
  }

  .container {
    padding: 0 10px;
  }
  .title {
    font-size: 36px;
    line-height: 40px;
  }
  .description {
    font-size: 16px;
    line-height: 18px;
  }

  h2 {
    font-size: 36px;
    line-height: 40px;
  }
  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  .information-actions__item {
    font-size: 8px;
    line-height: 12px;
  }
  .moments-container__description {
    font-size: 16px;
    line-height: 18px;
  }

  .content-name {
    font-size: 16px;
  }
  

  .chosen-moment {
    position: relative;
    height: 350px;
  }
  .moments-container .about {
    flex-direction: column;
  }

  .moments-container .about {
    margin-top: 0;
  }
  
  .moments-container .about-item {
    margin-top: 50px;
    text-align: center;
    padding: 0 15px;
  }

  .banner-title {
    font-size: 24px;
    line-height: 26px;
  }
  .banner-description {
    font-size: 16px;
  }

  .socials {
    flex-direction: column;
    align-items: center;
  }

  br {
    display: none;
  }

  .play-wrapper {
    display: none;
  }
}


/* < PLAYER > */
  .play-wrapper {
    display: none !important;
  }
/* </ PLAYER > */